/* Fonts*/
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Poppins&family=Roboto:wght@400;500;700&display=swap");

/* Reset*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: ;
  --text-color: ;
  --btn-primary: #ffe066;
}
html {
  font-size: 10px;
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #fff;
  color: var(--primary-color);
}

/* Common Styles*/

/*Layouts*/
.container {
  max-width: 1200px;
  width: 80%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 5rem;
  gap: 4rem;
  background-color: #fff;
}
.group_1,
.group_2 {
  display: flex;
  flex-direction: column;
  gap: 4rem;
}
hr {
  grid-column: 1/-1;
  width: 80%;
  margin-top: 2rem;
  margin-left: 3rem;
  border: none;
  border-top: 2px solid rgba(128, 128, 128, 0.3);
}
.group_3 {
  max-width: 700px;
  width: 100%;
  margin: 0 auto;
  grid-column: 1/-1;
  display: flex;
  flex-direction: row;
  gap: 2.3rem;
}
.group_3 > div {
  flex: 1;
}
/*Profile*/
.profile {
  grid-column: 1/-1;
  margin-bottom: 2rem;
}
.profile_container {
  display: flex;
  gap: 2rem;
}

/* Skills and Experience*/

/*Responsiveness*/
@media (max-width: 768px) {
  .container {
    width: 100%;
    grid-template-columns: 1fr;
    padding: 3rem;
    gap: 7rem;
  }
  .profile_container {
    flex-direction: column;
  }
  img {
    width: 200px;
    height: 200px;
  }
  .description {
    font-size: 1.3rem;
    width: 100%;
  }
  hr {
    margin: 0 auto;
  }
  .group_3 {
    flex-direction: column;
  }
}
